<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="/"
     class="navbar-brand">Curva adolescente</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a routerLink="/home"
         class="nav-link active">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/graph"
         class="nav-link active">Graph</a>
    </li>
  </ul>
  <div *ngIf=" isLogin; else elseBlock">
    <button routerLink="/logout"
            class="nav-link btn-outline-dark">Log out</button>
  </div>
  <ng-template #elseBlock>
    <button routerLink="/login"
            class="nav-link btn-outline-dark mr-2">Login</button>
    <button routerLink="/register"
            class="nav-link btn-danger">Register</button>
  </ng-template>

</nav>
