<h1 style="text-align: center; margin-top: 1%">Seleccione grafica a utilizar segun IMCP pregestacional</h1>
<div class="container">
  <div class="row">
    <div class="col col-example">
      <h4>Delgadez</h4>
      <img class="img" src="assets/Delgadez.PNG" [routerLink]="['/graph']">
    </div>
    <div class="col col-example">
      <h4>Normalidad</h4>
      <img class="img"  src="assets/Delgadez.PNG">
    </div>
    <div class="w-100"></div>
    <div class="col col-example">
      <h4>Sobrepeso</h4>
      <img class="img"  src="assets/Delgadez.PNG">
    </div>
    <div class="col col-example">
      <h4>Obesidad</h4>
      <img class="img"  src="assets/Delgadez.PNG">
    </div>
  </div>
</div>
