.body{
  align-content: center;
  margin-top: 6%;
}
.inputdata{
  text-align: center;
  position: absolute;
  left: 25%;
  margin-right: -50%;
}
.graphdiv{
  position: absolute;
  top: 30%;
  left: 15%;
  margin-right: -50%;
}

.modal-content{
  text-align: center;
}

.modal-body{
  align-content: center;
}
